html {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  display: flex;
  flex-direction: row;
}

.book {
  margin-bottom: 5rem;

  .title {
    font-size: 1.5em;
  }


  .price {
    font-weight: 700;

    &::after {
      content: '$';
    }
  }
}

.cart {
  padding-left: 1em;
  border-left: 1px solid black;
  min-width: 30%;

  .book {
    min-height: 40px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1em;
      font-weight: 500;
      order: 1;
      // min-width: fit-content;
    }

    .author {
      order: 2;
    }

    .price {
      padding: 1em;
      order: 3;
    }

    .remove-from-cart {
      order: 4;
    }
  }
}