html {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
  display: flex;
  flex-direction: row;
}

.book {
  margin-bottom: 5rem;

  .title {
    font-size: 1.5em;
  }


  .price {
    font-weight: 700;

    &::after {
      content: '$';
    }
  }
}

.cart {

  min-width: 30%;

  .book {
    margin-bottom: 1rem;

    .title {
      font-size: 1em;
    }
  }
}